/* Fonts */
@font-face {
  font-family: "bebas_neue";
  src: url("../fonts/Bebas_Neue/bebasneue-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/Bebas_Neue/bebasneue-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
