/* Specification */
.specification-title {
  font-size: 2.1rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: rgb(30, 30, 30);
}
.specification-details {
  color: rgb(110, 110, 115);
}
