<!-- carousel -->
<div id="index-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="1800">
            <img src="./public/images/index-bg/index-bg-0.jpg" class="d-block " alt="...">
        </div>
        <div class="carousel-item" data-interval="1800">
            <img src="./public/images/index-bg/index-bg-1.jpg" class="d-block " alt="...">
        </div>
        <div class="carousel-item" data-interval="1800">
            <img src="./public/images/index-bg/index-bg-2.jpg" class="d-block " alt="...">
        </div>
    </div>
</div>