<!-- Navagation -->
<nav class="navbar navbar-expand-lg navbar-light position-fixed" id="main-nav">
    <div class="container nav-container nav-container--small-padding">
        <!-- logo icon -->
        <a class="navbar-brand animate__animated animate__lightSpeedInLeft" href="#">
            <icon class="icon-logo"> <img class="icon-logo__logo-img" src="public/images/logo/oceco-logo.svg" alt="">
            </icon>
        </a>
        <!-- menu bar  -->
        <button class="navbar-toggler navbar-toggler-primary" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span id="nav-menu-title">MENU</span>
            <svg class="icon-menubar icon--white">
                <use xlink:href="./public/images/logo/bars-solid-xml.svg#bars-solid"></use>
            </svg>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link main-nav-items" href="#sec1">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link main-nav-items" href="#sec2">USAGE SCENARIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link main-nav-items " href="#sec3">SCOOTERS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link main-nav-items" href="#sec4">SERVICES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link main-nav-items" href="#sec5">ORDER NOW!</a>
                </li>
            </ul>

        </div>
    </div>
</nav>