<div class="col-sm-12 col-md-7">
    <div class="slider-container">
        <div class="slider">
            <div class="slides">
                <div class="slider__img-container">
                    <img class="slider__img" src="" alt="">
                </div>
                <div class="slider__img-container">
                    <img class="slider__img" src="" alt="">
                </div>
                <div class="slider__img-container">
                    <img class="slider__img" src="" alt="">
                </div>
                <div class="slider__img-container">
                    <img class="slider__img" src="" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="thumbnails">
        <div class="thumbnails-inside-container">
            <div class="thumnail__img-container thumnail-seleted">
                <img class="thumnail__img" src="" alt="">
            </div>
            <div class="thumnail__img-container">
                <img class="thumnail__img" src="" alt="">
            </div>
            <div class="thumnail__img-container">
                <img class="thumnail__img" src="" alt="">
            </div>
            <div class="thumnail__img-container">
                <img class="thumnail__img" src="" alt="">
            </div>
        </div>
    </div>
</div>