<a href="index.html" class="scooter-display-card col-12 col-md-6 col-lg-4">
    <div class="scooter-display-card-insidebox">
        <div class="scooter-img-flexbox">
            <div class="scooter-img-container">
                <img class="scooter-img-container__img" src="./public/images/scooters/OC2B/OC2B-0.jpg" alt="...">
            </div>
        </div>
        <p class="scooter-name">Name</p>
        <p class="scooter-type">Two Wheels Electric Scooter</p>
        <p class="scooter-price">Price: 3999 kr</p>
    </div>
</a>