<!-- Social Media Icon -->
<div class="container container-icons">
    <div class="row">
        <a class="icon-link  col-12 col-sm-4" href="https://www.facebook.com/oceco.se" target="blank">
            <div class="icon-container ">
                <svg class="icon icon--facebook">
                    <use xlink:href="./public/images/icons/fb-ins-shop.svg#facebook-square-brands"></use>
                </svg>
            </div>
            <p class="icon-link__text">Facebook</p>
        </a>
        <a class="icon-link  col-12 col-sm-4" href="https://www.instagram.com/oceco.se/" target="blank">
            <div class="icon-container">
                <img class="icon icon--instagram" src="./public/images/icons/icon-ins.svg" alt="">
            </div>
            <p class="icon-link__text">Instagram</p>
        </a>
        <a class="icon-link  col-12 col-sm-4" href="https://www.facebook.com/oceco.se" target="blank">
            <div class="icon-container">
                <svg class="icon icon--shop">
                    <use xlink:href="./public/images/icons/fb-ins-shop.svg#store-solid"></use>
                </svg>
            </div>
            <p class="icon-link__text">Online Shop</p>
        </a>
    </div>
</div>